<hr/>
<% unless @post.comments.empty? %>
		<h2>Comments</h2>
		<p>
			<b>Comment by:</b>
			<%= comment.commenter %>
		</p>

		<p>
			<b>Comment:</b>
			<%= coderay comment.body %>
		</p>
		<%#= link_to 'Destroy Comment', [comment.post, comment],
		               :confirm => 'Are you sure?',
		               :method => :delete %>
<% end %>