<h1>Post#new</h1>
<%= link_to "<< back to list", "/posts" %>

<section>
	<%= form_for(:post, :url => {:action => 'create' }) do |f| %>
		<%= render :partial => 'form', :locals => {:f => f }  %>
		<%= submit_tag("Create Post") %>
	<% end %>
</section>