<table>
	<tr>
		<th>Name: </th>
		<td> <%= f.text_field(:name) %> </td>
	</tr>
	<tr>
		<th>Title: </th>
		<td> <%= f.text_field(:title) %> </td>
	</tr>
	<tr>
		<th>Content: </th>
		<td> <%= f.text_area(:body) %> </td>
	</tr>
</table>