<h1>Welcome to my sandbox!</h1>
<h1>Please note that this is not a blog! Its just my rails sandbox. I use it to test out stuff ;) </h1>
<%= gflash %>
	
<%= paginate @posts %>
	
<%= render @posts %>

<%#= link_to "New Post", new_post_path %> <br>
<%= paginate @posts %>